@media only screen and (min-width: 1000px){
body{
	margin-left: 180px;
	margin-right: 180px;
}
}

.color1{
	background-color: indianred;
	padding: 150px 0 0;
	border-radius: 5px;
}

.color2{
	background-color: lightskyblue;
	padding: 150px 0 0;
	border-radius: 5px;
}

.color3{
	background-color: gold;
	padding: 150px 0 0;
	border-radius: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width : 815px){
.column {
    display: block;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1200px){
.column {
	padding: 0 10%;
  }
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
} 

.page{
	clear:both;
}